---
---

<header class="header">
  <div class="container">
    <div class="header-logo">
      <img src="/logo.png" alt="Energy Ingeniería" />
      <span class="header-tagline">Soluciones en climatización &amp; refrigeración</span>
    </div>
  </div>
</header>
